* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 50vh;
  display: flex;

  &--top {
    background-color: rgb(65, 65, 65);
  }
}

.editor-container {
  flex-grow: 1;
  flex-basis: 0;

  display: flex;
  flex-flow: column;
  padding: 10px;
  background-color: rgb(63, 63, 63);

  &--closed {
    flex-grow: 0;

    .CodeMirror-scroll {
      position: absolute;
      overflow: hidden !important;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    background-color: rgb(27, 27, 27);
    padding: 10px 20px;
    font-family: "Staatliches", cursive;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
  }

  &__wrapper {
    flex-grow: 1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
}

.CodeMirror {
  height: 100% !important;
}

.button {
  color: white;
  background: none;
  border: none;
  padding: 5px;
  font-size: 1.25rem;
  cursor: pointer;
}
